@using Microsoft.Practices.Unity
@using SPPC.Tadbir.Security
@using SPPC.Tadbir.Service
@using SPPC.Tadbir.Web.AppStart
@using SPPC.Framework.Values
@using SPPC.Tadbir.ViewModel.Finance
@using SPPC.Tadbir.Values
@model AccountFullViewModel

@{
    string title = String.Format(LocalStrings.EntityDetails, Entities.Account);
    string indexTitle = String.Format(LocalStrings.IndexTitle, Entities.Accounts);
    string editTitle = String.Format(LocalStrings.EditExistingEntity, Entities.Account);
    ViewBag.Title = title;

    var contextManager = UnityConfig
        .GetConfiguredContainer()
        .Resolve<ISecurityContextManager>();
    var currentContext = contextManager.CurrentContext;
}

<ol class="breadcrumb">
    <li>@Html.ActionLink(LocalStrings.HomePage, "index", "home", new { area = "" }, null)</li>
    <li>@Html.ActionLink(indexTitle, "index", "accounts", new { area = "Accounting" }, null)</li>
    <li class="active">@title</li>
</ol>

<div class="col-sm-8 col-sm-offset-2 form-centered">
    <div class="page-header">
        <h2>@title</h2>
    </div>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FiscalPeriodName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FiscalPeriodName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BranchName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BranchName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BranchCompanyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BranchCompanyName)
        </dd>
    </dl>
    <p>
    @if (currentContext.HasPermissions(Permissions.Account.Edit))
    {
        @Html.ActionLink(editTitle, "edit", new { id = Model.Id })<span> | </span>
    }
        @Html.ActionLink(indexTitle, "index")
    </p>
</div>
