@using SPPC.Framework.Values
@using SPPC.Tadbir.Values
@model SPPC.Framework.Service.ServiceResponse

@{
    string indexTitle = String.Format(LocalStrings.IndexTitle, Entities.Accounts);
    string deleteTitle = String.Format(LocalStrings.DeleteEntity, Entities.Account);
    string title = String.Format(ErrorMessages.DeleteError, Entities.Account);
    ViewBag.Title = title;
}

<ol class="breadcrumb">
    <li>@Html.ActionLink(LocalStrings.HomePage, "index", "home", new { area = "" }, null)</li>
    <li>@Html.ActionLink(indexTitle, "index", "accounts", new { area = "accounting" }, null)</li>
    <li class="active">@deleteTitle</li>
</ol>

<div class="alert alert-danger">
    <h2>@title</h2>
    <p><strong>@Model.Message</strong></p>
    <p>@Model.Hint</p>
    <br />
    @Html.ActionLink(String.Format(LocalStrings.ReturnToPage, indexTitle), "index", "accounts", null, new { @class = "btn btn-primary" })
</div>
