@using SPPC.Tadbir.Security
@using SPPC.Tadbir.Service
@using SPPC.Tadbir.Web.AppStart
@using SPPC.Framework.Extensions
@using SPPC.Framework.Values
@using SPPC.Tadbir.Values
@using SPPC.Tadbir.ViewModel.Finance
@using PagedList.Mvc
@using Unity

@model PagedList.IPagedList<AccountViewModel>

@{
    string title = String.Format(LocalStrings.IndexTitle, Entities.Accounts);
    string createTitle = String.Format(LocalStrings.CreateNewEntity, Entities.Account);
    ViewBag.Title = title;
    string pageInfo = String.Format(LocalStrings.NoRecords, Entities.AnAccount);
    if (Model.Count > 0)
    {
        pageInfo = String.Format(
            LocalStrings.CurrentPageInfo,
            Model.TotalItemCount, Entities.Account, Model.PageNumber, Model.PageCount);
    }

    var contextManager = UnityConfig
        .GetConfiguredContainer()
        .Resolve<ISecurityContextManager>();
    var currentContext = contextManager.CurrentContext;
}

<ol class="breadcrumb">
    <li>@Html.ActionLink(LocalStrings.HomePage, "index", "home", new { area = "" }, null)</li>
    <li class="active">@title</li>
</ol>

<div class="page-header">
    <h3>@title</h3>
</div>

@if (currentContext.HasPermissions(Permissions.Account.Create))
{
<p>
    @Html.ActionLink(createTitle, "create", "accounts", new { }, new { @class = "btn btn-sm btn-primary" })
</p>
}
<span class="pull-left">@pageInfo</span>

<table class="table table-bordered table-striped table-responsive table-hover">
    <thead>
        <tr>
            <th>@FieldNames.CodeField</th>
            <th>@FieldNames.NameField</th>
            <th>@FieldNames.DescriptionField</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td title="@item.Description">
                @item.Description.AutoEllipsis()
            </td>
            <td>
            @if (currentContext.HasPermissions(Permissions.Account.Edit))
            {
                @Html.ActionLink(LocalStrings.Edit, "edit", new { id = item.Id })<span> | </span>
            }
                @Html.ActionLink(LocalStrings.Details, "details", new { id = item.Id })
            @if (currentContext.HasPermissions(Permissions.Account.Delete))
            {
                <span> | </span>@Html.ActionLink(LocalStrings.Delete, "delete", new { id = item.Id })
            }
            </td>
        </tr>
    }
    </tbody>
</table>

@Html.PagedListPager(Model, page => Url.Action("index", new { page = page }), PagedListRenderOptions.ClassicPlusFirstAndLast)

@if (currentContext.HasPermissions(Permissions.Account.Create))
{
<p>
    @Html.ActionLink(createTitle, "create", "accounts", new { }, new { @class = "btn btn-sm btn-primary" })
</p>
}

@section scripts {
    @Scripts.Render("~/bundles/site")
}
