@using SPPC.Tadbir.Values

<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @Strings.AppName</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body dir="rtl">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header" style="float:right">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(Strings.AppBrandName, "index", "home", new { area = "" }, new { @class = "navbar-brand", style = "float:right" })
            </div>
            <div class="navbar-collapse collapse" style="float:right">
                <ul class="nav navbar-nav">
                    <li class="dropdown" style="float:right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Strings.Accounting <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink(Strings.ManageAccounts, "index", "accounts", new { area = "Accounting" }, null)</li>
                            <li>@Html.ActionLink(Strings.ManageTransactions, "index", "transactions", new { area = "accounting" }, null)</li>
                        </ul>
                    </li>
                    <li class="dropdown" style="float:right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Strings.SystemAdministration <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink(Strings.ManageUsers, "index", "users", new { area = "admin" }, null)</li>
                        </ul>
                    </li>
                    <li style="float:right">@Html.ActionLink(Strings.About, "about", "home", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <div class="container">
        <footer>
            <div class="copyright">
                <p>&copy; @DateTime.Now.Year - @Strings.CopyrightText</p>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
