@using System.Globalization
@using SPPC.Framework.Extensions
@using SPPC.Tadbir.Values
@model SPPC.Tadbir.ViewModel.Finance.TransactionFullViewModel

@{
    ViewBag.Title = Transactions.Details;
    var persianCulture = new CultureInfo("fa-IR");
    persianCulture.NumberFormat.CurrencySymbol = String.Empty;
}

<ol class="breadcrumb">
    <li>@Html.ActionLink(Strings.HomePage, "index", "home", new { area = "" }, null)</li>
    <li>@Html.ActionLink(Transactions.IndexTitle, "index", "transactions", new { area = "accounting" }, null)</li>
    <li class="active">@Transactions.Details</li>
</ol>

<div class="col-sm-8 col-sm-offset-2 form-centered">
    <div class="page-header">
        <h2>@Transactions.Details</h2>
    </div>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Transaction.No)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Transaction.No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Transaction.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Transaction.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Transaction.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Transaction.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Transaction.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Transaction.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FiscalPeriodName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FiscalPeriodName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FiscalPeriodBranchName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FiscalPeriodBranchName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FiscalPeriodBranchCompanyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FiscalPeriodBranchCompanyName)
        </dd>
    </dl>

    <div class="page-header">
        <h4>@Transactions.TransactionLines</h4>
    </div>
    <table class="table table-bordered table-striped table-responsive table-hover">
        <thead>
            <tr>
                <th>@FieldNames.AccountCodeField</th>
                <th>@FieldNames.CurrencyTypeField</th>
                <th>@FieldNames.DescriptionField</th>
                <th>@FieldNames.DebitField</th>
                <th>@FieldNames.CreditField</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Lines)
            {
                <tr>
                    <td>
                        @item.AccountCode
                    </td>
                    <td>
                        @item.CurrencyName
                    </td>
                    <td title="@item.Description">
                        @item.Description.AutoEllipsis(50)
                    </td>
                    <td>
                        @item.Debit.ToString("C0", persianCulture)
                    </td>
                    <td>
                        @item.Credit.ToString("C0", persianCulture)
                    </td>
                    <td>
                        @Html.ActionLink(Strings.Details, "details", "articles", new { id = item.Id }, null)
                    </td>
                </tr>
            }
            <tr>
                <td colspan="3">
                    @Strings.Total
                </td>
                <td>
                    @Model.Lines.Select(line => line.Debit).Sum().ToString("C0", persianCulture)
                </td>
                <td>
                    @Model.Lines.Select(line => line.Credit).Sum().ToString("C0", persianCulture)
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        @Html.ActionLink(Transactions.EditExisting, "edit", new { id = Model.Transaction.Id }) |
        @Html.ActionLink(Transactions.IndexTitle, "index")
    </p>
</div>
