@using SPPC.Framework.Values
@using SPPC.Tadbir.Values
@model SPPC.Framework.Service.ServiceResponse

@{
    string indexTitle = String.Format(LocalStrings.IndexTitle, Entities.Transactions);
    string title = String.Format(ErrorMessages.OperationError, Entities.TransactionLongName);
    ViewBag.Title = title;
    string[] lines = Model.Message.Split(new string[] { Environment.NewLine }, StringSplitOptions.None);
}

<ol class="breadcrumb">
    <li>@Html.ActionLink(LocalStrings.HomePage, "index", "home", new { area = "" }, null)</li>
    <li>@Html.ActionLink(indexTitle, "index", "transactions", new { area = "accounting" }, null)</li>
    <li class="active">@title</li>
</ol>

<div class="alert alert-danger">
    <h2>@title</h2>
    <ul>
    @foreach (var line in lines)
    {
        <li><strong>@line</strong></li>
    }
    </ul>
    <br />
    <p>@Model.Hint</p>
    <br />
    @Html.ActionLink(String.Format(LocalStrings.ReturnToPage, indexTitle), "index", "transactions", null, new { @class = "btn btn-primary" })
</div>
