@using System.Globalization
@using SwForAll.Platform.Common
@using SPPC.Framework.Extensions
@using SPPC.Tadbir.Values
@using SPPC.Tadbir.ViewModel.Finance
@using PagedList.Mvc

@model PagedList.IPagedList<TransactionViewModel>

@{
    ViewBag.Title = Transactions.IndexTitle;
    string pageInfo = Transactions.NoRecords;
    if (Model.Count > 0)
    {
        pageInfo = String.Format(
            Transactions.CurrentPageInfo,
            Model.TotalItemCount, Model.PageNumber, Model.PageCount);
    }

    var persianCulture = new CultureInfo("fa-IR");
    persianCulture.NumberFormat.CurrencySymbol = String.Empty;
}

<ol class="breadcrumb">
    <li>@Html.ActionLink(Strings.HomePage, "index", "home", new { area = "" }, null)</li>
    <li class="active">@Transactions.IndexTitle</li>
</ol>

<div class="page-header">
    <h3>@Transactions.IndexTitle</h3>
</div>

<p>
    @Html.ActionLink(Transactions.CreateNew, "create", "transactions", new { }, new { @class = "btn btn-sm btn-primary" })
    <span class="pull-left">@pageInfo</span>
</p>

<table class="table table-bordered table-striped table-responsive table-hover">
    <thead>
        <tr>
            <th>@FieldNames.NumberField</th>
            <th>@FieldNames.DateField</th>
            <th>@FieldNames.DescriptionField</th>
            <th>@FieldNames.StatusField</th>
            <th>@FieldNames.DebitSumField</th>
            <th>@FieldNames.CreditSumField</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var date = JalaliDateTime.FromDateTime(item.Date);
            string formattedDate = String.Format("{0}/{1}/{2}", date.Year, date.Month, date.Day);
            string debit = item.DebitSum.ToString("C0", persianCulture);
            string credit = item.CreditSum.ToString("C0", persianCulture);
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.No)
                </td>
                <td>
                    @formattedDate
                </td>
                <td title="@item.Description">
                    @item.Description.AutoEllipsis(50)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @debit
                </td>
                <td>
                    @credit
                </td>
                <td>
                    @Html.ActionLink(Strings.Edit, "edit", new { id = item.Id }) |
                    @Html.ActionLink(Strings.Details, "details", new { id = item.Id }) |
                    @Html.ActionLink(Strings.Delete, "delete", new { id = item.Id })
                </td>
            </tr>
        }
        <tr>
            <td colspan="4">@Strings.Total</td>
            <td>@Model.Sum(item => item.DebitSum).ToString("C0", persianCulture)</td>
            <td>@Model.Sum(item => item.CreditSum).ToString("C0", persianCulture)</td>
        </tr>
    </tbody>
</table>

@Html.PagedListPager(Model, page => Url.Action("index", new { page = page }), PagedListRenderOptions.ClassicPlusFirstAndLast)

<p>
    @Html.ActionLink(Transactions.CreateNew, "create", "transactions", new { }, new { @class = "btn btn-sm btn-primary" })
</p>
