@using System.Globalization
@using SPPC.Framework.Values
@using SPPC.Tadbir.Values
@model SPPC.Tadbir.ViewModel.Finance.TransactionLineFullViewModel

@{
    string title = String.Format(LocalStrings.EntityDetails, Entities.Article);
    string txnIndexTitle = String.Format(LocalStrings.IndexTitle, Entities.Transactions);
    string txnDetailsTitle = String.Format(LocalStrings.EntityDetails, Entities.Transaction);
    string txnEditTitle = String.Format(LocalStrings.EditExistingEntity, Entities.Transaction);
    string editTitle = String.Format(LocalStrings.EditExistingEntity, Entities.Article);
    ViewBag.Title = title;
    var persianCulture = new CultureInfo("fa-IR");
    persianCulture.NumberFormat.CurrencySymbol = String.Empty;
}

<ol class="breadcrumb">
    <li>@Html.ActionLink(LocalStrings.HomePage, "index", "home", new { area = "" }, null)</li>
    <li>@Html.ActionLink(txnIndexTitle, "index", "transactions", new { area = "accounting" }, null)</li>
    <li>@Html.ActionLink(txnDetailsTitle, "details", "transactions", new { area = "accounting", id = Model.Article.TransactionId }, null)</li>
    <li class="active">@title</li>
</ol>

<div class="col-sm-8 col-sm-offset-2 form-centered">
    <div class="page-header">
        <h2>@title</h2>
    </div>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Article.AccountCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Article.AccountCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AccountName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Article.CurrencyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Article.CurrencyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Article.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Article.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Article.Debit)
        </dt>
        <dd>
            @Model.Article.Debit.ToString("C0", persianCulture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Article.Credit)
        </dt>
        <dd>
            @Model.Article.Credit.ToString("C0", persianCulture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FiscalPeriodName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FiscalPeriodName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BranchName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BranchName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BranchCompanyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BranchCompanyName)
        </dd>
    </dl>
    <p>
        @Html.ActionLink(editTitle, "edit", new { id = Model.Article.Id }) |
        @Html.ActionLink(txnEditTitle, "edit", "transactions",
            new { area = "accounting", id = Model.Article.TransactionId }, null)
    </p>
</div>
