@using SPPC.Framework.Values
@using SPPC.Tadbir.Values
@using SPPC.Tadbir.ViewModel.Workflow
@using PagedList.Mvc

@model PagedList.IPagedList<OutboxItemViewModel>

@{
    string title = Strings.CartableOutbox;
    ViewBag.Title = title;
    string pageInfo = String.Format(LocalStrings.NoRecords, Entities.AWorkItem);
    if (Model.Count > 0)
    {
        pageInfo = String.Format(
            LocalStrings.CurrentPageInfo,
            Model.TotalItemCount, Entities.WorkItem, Model.PageNumber, Model.PageCount);
    }
}

<ol class="breadcrumb">
    <li>@Html.ActionLink(LocalStrings.HomePage, "index", "home", new { area = "" }, null)</li>
    <li class="active">@title</li>
</ol>

<div class="page-header">
    <h3>@title</h3>
</div>
<span class="pull-left">@pageInfo</span>

<table class="table table-bordered table-striped table-responsive table-hover">
    <thead>
        <tr>
            <th>@FieldNames.DateField</th>
            <th>@FieldNames.Time</th>
            <th>@FieldNames.DocumentType</th>
            <th>@FieldNames.DocumentNo</th>
            <th>@FieldNames.ActionType</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @String.Format("{0}:{1}:{2}", item.Time.Hours, item.Time.Minutes.ToString("D2"), item.Time.Seconds.ToString("D2"))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntityNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Action)
            </td>
        </tr>
    }
    </tbody>
</table>

@Html.PagedListPager(Model, page => Url.Action("outbox", new { page = page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
